{% extends "base.html" %}
{% block pageTitle %}
    {{ article.title }}
{% endblock pageTitle %}
{% block content %}
<div class="pure-u-1 pure-u-sm-3-5">
    <div class="box sidebar-right">
        <div class="pure-g">
            <div class="pure-u-1">
                <span class="remove-spacing">{{ article.locale_date }}</span><span>{{ article.author.name }}</span>
                <p>
                    {{ article.summary }}
                </p>
                <a href="{{ article.url }}">Read more</a>
            </div>

        </div>
        <hr>
    </div>
</div>
{% endblock content %}
